# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
ui_*.h
.qmake.stash

*.ilk
*.pdb
*.bak
*.BAK
*.autosave
*.obj
Makefile.*
*.exe
*.exe.embed.manifest
*.res
Thumbs.db
* - コピー.*
*_manifest.rc

# Mac OS X
.DS_Store
KanmusuMemory.app/
