Package: KanmusuMemory
Version: 0.12.0
Section: games
Architecture: i386
Priority: optional
Maintainer: IoriAYANE <iori.ayane@gmail.com>
Homepage: http://relog.xii.jp/
Description: 艦メモ　～艦娘メモリーズ～（艦これ専用ブラウザ）
